#message-block{
    margin: 10px auto;
    width: 90%;
    display: flex;
    flex-direction: column;
}

#message-block>form{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
}

#message-block button{
    background-color: #FFFF25;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 20px;
    border-style: none;
    margin: 20px;
    cursor: pointer;
}

#message-block form textarea{
    height: 150px;
    min-height: 150px;
    max-height: 150px;
    padding: 10px 40px;
    overflow: auto;
    border: 1px solid #008B8B;
    border-radius: 4px;
    font-size: 18px;
}

#message-block form input{
    border: none;
    box-sizing: border-box;
    padding: 10px 0;
    font-weight: 600;
    font-size: 20px;
    width: auto;
    cursor: default;
}

#message-block form div{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#choose_theme{
    padding: 5px 35px;
    font-size: 18px;
    margin: 10px 0px;
    border: 1px solid #00A3A8;
    border-radius: 4px;
}

.submit-button{
    background-color: #FFFF25;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 20px;
    border-style: none;
    margin: 20px;
    width: 200px;
    cursor: pointer;
}

#message-block h3{
    color: #008B8B;
    font-size: 25px;
    margin-top: 20px;
    margin: 0 auto;
}

.comments-content{
    width: 85%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.8);
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: -50px;
    padding-top: 100px;
}

#comments-content{
    padding: 7px 30px;
}

.message-from-forum{
    margin: 10px auto;
    width: 100%;

}

.message-from-forum div{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px 5px;
}

.message-from-forum>p{
    background-color: rgba(117, 222, 217, 0.6);
    padding: 20px 20px;
    border-radius: 20px;
    font-size: 18px;
}


#date-color{
    color: #718B8B;
}

hr{
    background-color: #fff;
    color: #fff;
    border: 1px solid #fff;
    margin: 40px;
}

.accordionWrapper{
    padding:30px;
    background:#fff;
    float:left;
    width:100%;
    box-sizing:border-box;
}

.accordionItem{
    float:left;
    display:block;
    width:100%;
    box-sizing: border-box;
}
.accordionItemHeading{
    font-size: 30px;
    cursor:pointer;
    margin:0px 0px 10px 0px;
    padding:10px 50px;
    background:#00A3A8;
    color:#fff;
    width:100%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.close .accordionItemContent{
    height:0px;
    transition:height 1s ease-out;
    -webkit-transform: scaleY(0);
	-o-transform: scaleY(0);
	-ms-transform: scaleY(0);
	transform: scaleY(0);
    float:left;
    display:block;
}
.open .accordionItemContent{
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    width: 100%;
    margin: 0px 0px 10px 0px;
    display:block;
    -webkit-transform: scaleY(1);
	-o-transform: scaleY(1);
	-ms-transform: scaleY(1);
	transform: scaleY(1);
    -webkit-transform-origin: top;
	-o-transform-origin: top;
	-ms-transform-origin: top;
	transform-origin: top;
	-webkit-transition: -webkit-transform 0.4s ease-out;
	-o-transition: -o-transform 0.4s ease;
	-ms-transition: -ms-transform 0.4s ease;
	transition: transform 0.4s ease;
    box-sizing: border-box;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    -moz-border-radius-bottomleft: 20px;
    margin-bottom: 30px;
}

.open .accordionItemHeading{
    margin:0px;
        -webkit-border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-topright: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: #00a2a885;
    color: #fff;
}

@media screen and (max-width: 800px){
    .comments-content{
        width: 100%;
    }
    #comments-content{
        padding: 7px 0px;
    }
    .open .accordionItemContent{
        padding: 10px 5px;
    }
    .accordionWrapper{
        padding: 5px;
    }
    #message-block>form{
        width: 90%;
    }
}

@media screen and (min-width: 2000px){

}