.modal{
    display: flex;
    flex-direction: column;
    padding: 30px 50px;
    width: 500px;
    background-color: #75DED9;
    margin: 100px auto;
    border-radius: 15px;
    order: 0;
    flex: 0 1 auto;
    align-self: auto; 
    z-index: 10000;
    position: relative;
}

.modal>input{
    margin: 10px;
    border: none;
    height: 40px;
    padding-left: 20px;
    border: 1px solid #00A3B3;
    border-radius: 3px;
    font-size: 25px;
}

.closeButton{
    align-self: flex-end;
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
    background-color: #75DED9;
    border-radius: 50px;
    color: #fff;
    font-weight: 400;
    font-size: 32px;
    transition: all .2s;
    text-align: center;
}

.modal-wrap{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
 }

.logInButton{
    width: 150px;
    height: 35px;
    border: none;
    border-radius: 50px;
    font-size: 20px;
    margin-top: 20px;
    align-self: center;
    background-color: #ffff25;
    color: #000;
    transition: all .2s;
}

.closeButton:hover{
    background-color: #9feeea;
}

.logInButton:hover{
    background-color: #FDFFAC;
}

@media screen and (max-width: 460px){
    .modal{
        min-width: 100%;
        box-sizing: border-box;
        padding: 10px;
    }
    #closeMenuButton{
        margin-right: 20px;
    }
}
@media screen and (max-height: 460px){
    #sign-up{
        height: 100%;
        margin: 0;
        box-sizing: border-box;
        padding: 10px 20px;
    }
    #sign-up>input{
        margin: 2px;
    }
    .logInButton{
        min-height: 35px;
        margin-top: 10px;
    }
}

/*--------------------------------------------------------------------------------------------------------*/

#activePage{
    border: 3px solid #fff;
    border-radius: 20px;
}

header{
    display: flex;
    flex-direction: column;
    background-image: url("../img/Color Balance 2.png");
    width: 100%;
    height: 100vh;
    background-size: 100%;
	background-repeat: no-repeat;
}

header p{
    color: #fff;
    text-align: center;
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: -72px;
}

#menu>ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #fff;
}

#menu>ul>li{
    padding: 5px 20px;
    list-style-type: none;
    font-size: 18px;
    color: #fff;
}

#menu a{
    transition: all .2s;
}

#menu a:hover{
    color: #ffff25;
}

#navBlock{
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row ;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
    margin-right: 40px;
    margin-bottom: 80px;
    position: fixed;
    background-color: #75DED9;
    transition: all 0.25s ease-in-out;
}

#entrance{
    display: flex;
    flex-direction: row;

}

#entrance>button{
    background-color: #ffff25;
    border: none;
    color: #000;
    border-radius: 20px;
    height: 35px;
    width: 100px;
    margin: 10px;
    font-size: 18px;
    transition: all .2s;
}

#entrance>button:hover{
    background-color: #FDFFAC;
}

header>div>h1{
    font-size: 70px;
    font-weight: 800;
    text-align: center;
    color: #fff;
    margin-top: 200px;
}

header a{
    color: #fff;
    text-decoration: none;
}

#h1Green{
    color: darkcyan;
}

.hide{
    display: none;
} 

#down img{
    height: 170px;
    width: 200px;
    opacity: 0.9;
    margin-top: 50px;
    animation: chevron-down 1s infinite alternate ease-in-out;
}

@keyframes chevron-down{
    0%{
        margin-top: 80px;
        opacity: 0.7;
    }
    100%{
        margin-top: 100px;
        opacity: 1;
    }
}


#closeMenuButton{
    align-self: flex-end;
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
    background-color: #75DED9;
    border-radius: 50px;
    color: #fff;
    font-weight: 400;
    font-size: 32px;
    text-align: center;
    margin-right: 40px;
    margin-bottom: -40px;
    display: none;
}

#icon button{
    border: none;
    background-color: #75DED9;
    font-size: 40px;
    display: none;
    color: #fff; 
    float: right;
    margin: 10px 40px;
}

@media screen and (max-width: 1150px){
    header{
        background-color: #75DED9;
        background-position: bottom;
    }
    header>div>h1{
        margin-top: 300px;
        font-size: 80px;
    }
    header p{
        font-size: 40px;
        padding: 20px;
        margin-bottom: 40px;
    }
}    

@media screen and (max-width: 1150px){
    header>div>h1{
        margin-top: 300px;
        font-size: 80px;
    }
    header p{
        font-size: 40px;
        padding: 20px;
        margin-bottom: 0px;
    }
}

@media screen and (max-width: 800px){
    #icon{
        position: fixed; 
        background-color: #75DED9;
        width: 100%;
        height: 80px;
        z-index: 100;
        transition: all 0.25s ease-in-out;
    }
    #icon button{
        display: block;
    }
    #navBlock, #menu ul, #entrance{
        flex-direction: column;
        background-color: #75DED9;
        width: 100%;
    }
    #navBlock{
        margin-top: -1000px;
        position: fixed;
        z-index: 101;
        height: 100%;
        transition: all ease 1s;
    }
    #menu>ul>li{
        margin: 20px;    
        font-size: 30px;
    }
    #entrance>button{
        height: 50px;
        width: 120px;
        font-size: 25px;
        margin: 20px auto;
    }
    #entrance{
        width: 100%;
    }
    #closeMenuButton{
        display: block;
    }
    header>div>h1{
        margin-top: 300px;
        font-size: 80px;
    }
    header p{
        font-size: 20px;
        padding: 20px;
        margin-bottom: -20px;
    }
}

@media screen and (max-width: 500px){
    header>div>h1{
        margin-top: 100px;
        font-size: 50px;
    }
    header p{
        padding: 20px;
    }
}

@media screen and (max-width: 330px){
    #down{
        margin-top: 0;
    }
    @keyframes chevron-down{
        0%{
            margin-top: 0px;
            opacity: 0.7;
        }
        100%{
            margin-top:20px;
            opacity: 1;
        }
    }
    #main-title h1{
        font-size: 40px;
    }
}

@media screen and (max-height: 780px){
    #main-title h1{
        font-size: 60px;
        margin-top: 150px;
    }
}

@media screen and (max-height: 640px){
    #down{
        margin-top: 0;
    }
    @keyframes chevron-down{
        0%{
            margin-top: 0px;
            opacity: 0.7;
        }
        100%{
            margin-top:20px;
            opacity: 1;
        }
    }
}

@media screen and (max-height: 550px){
    @keyframes chevron-down{
        0%{
            margin-top: -20px;
            opacity: 0.7;
        }
        100%{
            margin-top:0px;
            opacity: 1;
        }
    }
    header p{
        font-size: 30px;
        margin-top: 0;
        padding: 0;
    }
    #main-title{
        margin-top: -50px;
    }
}

@media screen and (max-height: 440px){
    @keyframes chevron-down{
        0%{
            margin-top: -20px;
            opacity: 0.7;
        }
        100%{
            margin-top: 0px;
            opacity: 1;
        }
    }
}

@media screen and (max-height: 380px){
    #down img {
        height: 130px;
        width: 160px;
    }
    header p{
        font-weight: 800;
    }
}

@media screen and (min-width: 1400px) and (max-width: 2100px){
    #navBlock a{
        font-size: 30px;
    }
    #navBlock button{
        font-size: 30px;
        width: 150px;
        height: 50px;
    }
    #navBlock{
        height: 100px;
    }
    #main-title h1{
        font-size: 80px;
        margin-top: 300px;
    }
    header p{
        font-size: 40px;
    }
    .modal{
        width: 800px;
        box-sizing: border-box;
        padding: 40px;
    }
    .logInButton{
        height: 50px;
        font-size: 30px;
    }
    .modal>input{
        font-size: 30px;
    }

}

@media screen and (min-width: 2100px){
    #navBlock a{
        font-size: 40px;
    }
    #navBlock button{
        font-size: 40px;
        width: 200px;
        height: 60px;
    }
    #navBlock{
        height: 150px;
    }
    #main-title h1{
        font-size: 100px;
        margin-top: 300px;
    }
    header{
        background-position: bottom;
    }
    header p{
        font-size: 50px;
        margin-bottom: 40px;
    }
    .modal{
        width: 800px;
        box-sizing: border-box;
        padding: 40px;
    }
    .logInButton{
        height: 50px;
        font-size: 30px;
    }
    .modal>input{
        font-size: 30px;
    }
    #down img{
        height: 210px;
        width: 250px;
        margin-top: 50px;
        animation: chevron-down 1s infinite alternate ease-in-out;
    }
    @keyframes chevron-down{
        0%{
            margin-top: 80px;
            opacity: 0.7;
        }
        100%{
            margin-top: 120px;
            opacity: 1;
        }
    }
}