::-webkit-scrollbar-button {
	background-image:url('');
	background-repeat:no-repeat;
	width:5px;
	height:0px
}

::-webkit-scrollbar-track {
	background-color: #fff;
}

::-webkit-scrollbar-thumb {
	-webkit-border-radius: 0px;
	border-radius: 10px;
	background-color: #00A3B3;
}

::-webkit-scrollbar-thumb:hover{
	background-color:#52c6d1;
}

::-webkit-scrollbar{
	width: 13px;
}

@media (min-width: 100px) and (max-width: 760px){
	::-webkit-scrollbar{
		width: 0px;
	}
}